/* Partie 8 MODIFICATIONS DES BALISES TABLE - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

table{
	border-collapse: collapse; /* Les bordures du tableau seront collÃ©es (plus joli) */
  text-align :left;
  /*text-align :center;*/
	margin:auto;
}

table.exemple {font-size: x-small;}

td {border: 1px solid black;}
th {border: 2px solid black;}
td.selec {background-color: #777777;color:yellow;text-align:center;}

table.table_ip tr {border: 2px solid black;}
table.table_ip tr td {border: 0px;width:10px;padding:10px;text-align:center;}
table.table_ip tr td:nth-child(odd){width:80px;}

table.ip45 tr td:nth-child(odd) {width:45px;}

table.table_base {text-align:center;}
table.table_base tr td {text-align:center;width:40px;}
table.table_base tr td:first-child {width:120px;font-size: small;}

/* Premier type de tableau avec en-tÃªte colorÃ© */
.color tr td, .color tr th {padding: 15px;text-align: center;}
.color tr th {background-color: #4a829f;color: white;}

/* Fond diffÃ©rent une ligne sur deux */
.color2 tr td, .color2 tr th {padding: 15px;text-align: center;}
.color2 tr th {background-color: #4a829f;color: white;}
.color2 tr:nth-child(even) {background-color: #f2f2f2;}

.color7 tr td, .color7 tr th {padding: 15px;text-align: center;}
.color7 tr th {background-color: #4a829f;color: white;}

/* Premier type de tableau avec en-tÃªte colorÃ© */
.color3 tr td, .color3 tr th {padding: 15px;text-align: center;}
.color3 tr th {background-color: #4a829f;color: white;}
.color3 tr:hover {background-color: #000000; color:white;}

.colorH:hover {	background-color: #000000;}

/* Premier type de tableau avec en-tÃªte colorÃ© */
.color4 tr td, .color4 tr th {padding: 15px;text-align: center;border: 3px white solid;}
.color4 tr th {background-color: #4a829f;color: white;}
.color4 tr:hover {background-color: #f2f2f2;}

/* Texte Ã  gauche */
.color5 tr td, .color5 tr th {padding: 15px;text-align: left;}
.color5 tr th {background-color: #4a829f;color: white;}
.color5 tr:nth-child(even) {background-color: #f2f2f2;}

/* Premier type de tableau avec en-tÃªte colorÃ© */
.color6 tr td, .color6 tr th {padding: 5px;text-align: center;border: 3px white solid;width:25px;}
.color6 tr th {background-color: #4a829f;color: white;}
.color6 tr:hover {background-color: #f2f2f2;}
.color6 tr.index, .color6 tr.index td {padding-bottom:0px;padding-top:0px;}
.color6 tr td.pilier {background-color: #AAAA22;color:white;font-weight: bold;}
.color6 tr td.ext {background-color: #0a425f;color:white;font-weight: bold;}
.color6 tr td.val {background-color: #3a728f;color:white;font-weight: bold;}
.color6 tr td.rejet {background-color: #AA2222;color:white;font-weight: bold;}
.color6 tr td.trouve {background-color: #3a8f3a;color:white;font-weight: bold;}


.largeurmax {width:95%;}
.largeurmax tr th {width:auto;overflow-wrap : break-word;}
.largeurmax tr th:first-child {width:150px;overflow-wrap : break-word;}